<form [formGroup]="_loginform" (ngSubmit)="proceedlogin()">
   <div class="container d-flex justify-content-center align-items-center min-vh-100">

       <div class="row border rounded-5 p-3 bg-white shadow box-area">

       <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #8a1538;">
           <div class="featured-image mb-3">
            <img src="../../../assets/images/1.png" class="img-fluid" style="width: 250px;">
           </div>
           <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
           <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Publishers on this platform.</small>
       </div> 
        
       <div class="col-md-6 right-box">
          <div class="row align-items-center">
                <div class="header-text mb-4">
                     <img src="../../../assets/images/logo.png" style="width: 98%;" alt="user-image">
                </div>
                <div class="input-group mb-3">
                    <input formControlName="email" matInput type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                </div>
                <div class="input-group mb-1">
                    <input formControlName="password" matInput [type]="fieldTextType ? 'text' : 'password'" class="form-control form-control-lg bg-light fs-6" placeholder="Password" />
                    <div class="input-group-append">
                        <span class="input-group-text" (click)="toogleFieldTextType()">
                        <i class="bi" [ngClass]="{'bi-eye-slash' : !fieldTextType, 'bi-eye' : fieldTextType}">
                        </i></span>
                    </div>
                </div>
                <div class="input-group mb-5 d-flex justify-content-between">
                    <div class="form-check">
                        <input (ngModel)="checkboxState" formControlName="chkbox" type="checkbox" class="form-check-input" (change)="rememberme($event)">
                        <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
                        <!-- {{checkboxState | json}} -->
                    </div>
                    <div class="forgot">
                        <small><a href="forgetpassword">Forgot Password?</a></small>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-lg w-100 fs-6" style="background: #8a1538; color: white;">Login</button>
                </div>
                <!-- <div class="input-group mb-3">
                    <button class="btn btn-lg btn-light w-100 fs-6"><img src="images/google.png" style="width:20px" class="me-2"><small>Sign In with Google</small></button>
                </div> -->
          </div>
       </div> 

      </div>
    </div>
</form>