mat-card {
    margin: 2%;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
}
.mat-mdc-raised-button{
    width:auto;
}

.table-header{
  position: sticky;
background-color: #8a1538;
color: white;
}

svg-icon{
    svg{
      width: 14px;
      height: 14px;
      margin-left: 6px;
    }
  }
  
  .action{
    svg-icon{
      svg{
        width: 24px;
        height: 24px;
      }
    }
  
  }