.row1 {
    display: flex;
    gap: 10px;
  
    mat-form-field {
      width: 100%;
    }
  }
  .row2 {
    display: flex;
    /* gap: 55%; */
    h1 {
      width: 100%;
    }
    h2 {
      width: 100%;
    }
  }
