
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
 
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
 
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #8a1538;">
            <div class="featured-image mb-3">
             <img src="../../../assets/images/1.png" class="img-fluid" style="width: 250px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Forget / Reset Password</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Publishers on this platform.</small>
        </div> 
         
        <div class="col-md-6 right-box">
           <div class="row align-items-center">
                 <div class="header-text mb-4">
                      <img src="../../../assets/images/logo.png" style="width: 98%;" alt="user-image">
                 </div>
                 <form [formGroup]="forgetForm" class="flex flex-col">
                 <div class="input-group mb-3">
                     <input formControlName="email" matInput type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                 </div>
                 <div class="input-group mb-3">
                    <div class="input-group mb-3" style="height: 55px; text-align: center; outline: .005ch; outline-style: solid; outline-color: grey; border-radius: 5px; display: flex; width: 100%; flex-direction: column;">
                      <mat-radio-group aria-label="Select an option" formControlName="lang">
                        <mat-label><b>Email send in</b></mat-label>
                        <br>
                        <mat-radio-button value='en'>English</mat-radio-button>
                        <mat-radio-button value='ar'>Arabic</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  </div>
                 <div class="input-group mb-3">
                     <button (click)="submit()" [disabled]="forgetForm.invalid" class="btn btn-lg w-100 fs-6" style="background: #8a1538; color: white;">Submit</button>
                 </div>
             </form>
           </div>
        </div> 
       </div>
     </div>
  